.cart {
    background-color: white;
    position: fixed;
    top: 0;
    height: 100%;
    width: 400px;
    z-index: 1010;
    opacity: 0.9;
    right: 0;
    float: right;
    display: none;
    color: rgb(39, 29, 29);
}


.basket {
    cursor: pointer;
}

.bi-basket3 {
    opacity: 0.4;
    color:black;
}