.color-box {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}


.outOfStock {
    text-decoration: line-through;
}


.shopping-cart {
    opacity: 0.7;
}


.modal {
    background-color: rgba(0,0,0,.0001) !important;
}